.card_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 55rem;
    margin: auto;
    
    background: #fafafa10;
    border: 2px solid #fafafa10;
    
    background: #fafafa10;
    padding: 15px;

}

.top_comment_box{
    
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.left_box{
    display: flex;
    gap: 13px;

}

.right_box{

}

.img_testimonial{
    
    width: 10rem;
    border-radius: 7rem;

}

.user_name{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 23.5px;
    text-align: left;

}

.headline_user{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    font-size: 18.28px;

}

.quoate_img{

}

.comment{

    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-align: left;
}

.comment_box{

}

.left_box_main{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.glasseffect{
    
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}