@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&display=swap');

.nav_ul {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 35px;
  background-color: black;
  align-items: center;
  border-radius: 100px;
  padding: 7px;
  margin: auto;
}

.nav_ul div {
  list-style: none;
  color: white;
  transition: 0.5s;
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 14px 35px;
}

.nav_item{
  
  list-style: none;
  color: white;
  transition: 0.5s;
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 14px 35px;
}

.nav_ul div:hover {
  background-color: #5200FF;
  border-radius: 67px;
  font-weight: 700;
}
.nav_item:hover{
  
  background-color: #5200FF;
  border-radius: 67px;
  font-weight: 700;
}
.nav_div {
  width: 100%;
}

.nav_logo {
  width: 3rem;
}
.nav_logo_mobile{
  width: 3rem;

}

.nav_item {
  width: 4rem;
}

/* Mobile */
@media (max-width: 767px) {
  .nav_desktop {
    display: none;
  }

  .nav_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 21;
  }

  .burger_menu {
    height: 2em;
    width: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .burger_bar {
    width: 100%;
    height: 0.25em;
    background-color: rgb(0, 0, 0);
    border-radius: 0.25em;
    transition: all 0.5s ease-out;
  }

  .menu {
    width: 100%;
    height: 100vh;
    background-color: #5200FF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: flex;
  }

  .burger_bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.5em, 0.5em);
  }

  .burger_bar.clicked:nth-child(2) {
    transform: scale(0);
  }

  .burger_bar.clicked:nth-child(3) {
    transform: rotate(-45deg) translate(0.5em, -0.5em);
  }

  .burger_bar.unclicked {
    transform: rotate(0);
  }

  .nav_ul_mobile {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .nav_item_mobile {
    color: white;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    transition: color 0.3s;
  }

  .nav_item_mobile:hover {
    color: #5200FF;
  }
  .nav_div {
    position: absolute;
    z-index: 30;
    top: 0rem;
    display: flex;
    align-items: center;
    padding: 38px;
    width: 100%;
    left: 0px;
    margin: auto;
    height: auto;
}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .nav_desktop {
    display: none;
  }

  .nav_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    z-index: 21;
    position: absolute;
    padding: 38px;
    width: 100%;
    left: 0px;
    margin: auto;
    height: auto;
  }

  .burger_menu {
    height: 2em;
    width: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .burger_bar {
    width: 100%;
    height: 0.25em;
    background-color: rgb(0, 0, 0);
    border-radius: 0.25em;
    transition: all 0.5s ease-out;
  }

  .menu {
    width: 100%;
    height: 100vh;
    background-color: #5200FF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: flex;
  }

  .burger_bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.5em, 0.5em);
  }

  .burger_bar.clicked:nth-child(2) {
    transform: scale(0);
  }

  .burger_bar.clicked:nth-child(3) {
    transform: rotate(-45deg) translate(0.5em, -0.5em);
  }

  .burger_bar.unclicked {
    transform: rotate(0);
  }

  .nav_ul_mobile {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .nav_item_mobile {
    color: white;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    transition: color 0.3s;
  }

  .nav_item_mobile:hover {
    color: #5200FF;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .nav_mobile {
    display: none;
  }
  .nav_ul_mobile {
    display: none;
  }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)  {
  
    .nav_div {
      top: 0;
      flex-direction: column;
      position: absolute;
      z-index: 70;
      display: flex;
      align-items: center;
      padding: 35px 0px;
      width: 100%;
      left: 0px;
      margin: auto;
      justify-content: center;
  }
  }

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {


  }

  @media (max-width: 1920px) and (max-height: 2560px) and (orientation: portrait) {
    /* Your styles for ASUS Zenbook Fold unfolded in portrait mode */
    
    
}

/* Unfolded mode in landscape */
@media (max-width: 2560px) and (max-height: 1920px) and (orientation: landscape) {
    /* Your styles for ASUS Zenbook Fold unfolded in landscape mode */
}

@media (max-width: 1024px) and (max-height: 600px) and (orientation: landscape) {
  .nav_div {
    top: 0;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    display: flex;
    left: auto;
    align-items: center;
    padding: 35px 0px;
    width: 100%;
    margin: auto;
    justify-content: center;
}

}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    /* Tus estilos CSS aquí */
    .nav_desktop{
      display: none;
    }
    .nav_mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 93%;
      position: relative;
      z-index: 70;
    }
    
  .burger_menu {
    height: 2em;
    width: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .burger_bar {
    width: 100%;
    height: 0.25em;
    background-color: rgb(0, 0, 0);
    border-radius: 0.25em;
    transition: all 0.5s ease-out;
  }

  .menu {
    width: 100%;
    height: 51vh;
    background-color: #5200FF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 69;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: flex;
  }

  .burger_bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.5em, 0.5em);
  }

  .burger_bar.clicked:nth-child(2) {
    transform: scale(0);
  }

  .burger_bar.clicked:nth-child(3) {
    transform: rotate(-45deg) translate(0.5em, -0.5em);
  }

  .burger_bar.unclicked {
    transform: rotate(0);
  }
  .nav_ul_mobile{
    
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

/* @media only screen 
  and (min-device-width: 820px) 
  and (max-device-width: 1180px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    /* Tus estilos CSS aquí */
    /* .nav_mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: none;
      z-index: 21;
      position: absolute;
      padding: 38px;
      width: 91%;
      left: 0px;
      margin: auto;
      height: auto;
  } */
/* } */ 