.box_hire_me{
    position: absolute;
    z-index: 8;
    top: 165rem;
    display: flex;
    align-items: center;
    padding: 38px;
    background-image: url(/src/assets/bg_services.jpg);
    width: 100%;
    left: 0px;
    margin: auto;
    height: 46vw;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.box_hire_me_big{

}

.hire_photo{

}

.hire_btn{
    
    padding: 16px 45px;
    display: flex;
    border-radius: 15px;
    background: none;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    transition: 0.5s;

}

.hire_btn:hover{
    background-color: black;
    color: white;
}

.mini_box{

    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
}

.mini_box_title{
    
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    font-size: 36px;
    color: #1D2939;

}

.hire_title{
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 64px;
    color: #000000;
    text-align: left;

}

.hire_title_red{
    color: #5200FF;
}

.hire_p{
    color: #1d2939;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: left;

}

.mini_box_paragraph{
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 20px;
}


/* Mobile */
@media (max-width: 767px) {
    /* Your mobile styles here */
    
    .hire_photo {
        width: 100%;
    }
    .hire_title {
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 44px;
        color: #000000;
        text-align: center;
    }
    .hire_p {
        color: #1d2939;
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 17px;
        text-align: center;
        padding: 20px;
    }
    .mini_box {
        display: flex;
        gap: 32px;
        align-items: center;
        justify-content: center;
    }
    .mini_box_paragraph {
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #000000;
        font-size: 20px;
        text-align: center;
    }
    .mini_box_title {
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        font-size: 36px;
        color: #1D2939;
    }
    .hire_btn {
        padding: 16px 45px;
        display: flex;
        border-radius: 15px;
        background: none;
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 32px;
        transition: 0.5s;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 60px;
    }
    .box_hire_me {
        z-index: 8;
        display: flex;
        align-items: center;
        background-image: url(/src/assets/bg_services.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        flex-direction: column;
        position: absolute;
        top: 190rem;
        padding: 38px;
        width: 100%;
        left: 0px;
        margin: auto;
        height: auto;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Your tablet styles here */
    .box_hire_me {
        z-index: 8;
        top: 215rem;
        display: flex;
        align-items: center;
        background-image: url(/src/assets/bg_services.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        flex-direction: column;
        position: absolute;
        padding: 38px;
        width: 100%;
        left: 0px;
        margin: auto;
        height: auto;
    }
    .hire_photo {
        width: 100%;
    }
    .hire_title {
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 44px;
        color: #000000;
        text-align: center;
    }
    .hire_p {
        color: #1d2939;
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 17px;
        text-align: center;
        padding: 20px;
    }
    .mini_box {
        display: flex;
        gap: 32px;
        align-items: center;
        justify-content: center;
    }
    .mini_box_paragraph {
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #000000;
        font-size: 20px;
        text-align: center;
    }
    .mini_box_title {
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        font-size: 36px;
        color: #1D2939;
    }
    .hire_btn {
        padding: 16px 45px;
        display: flex;
        border-radius: 15px;
        background: none;
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 32px;
        transition: 0.5s;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 60px;
    }
    
}

/* Desktop */
@media (min-width: 1024px) {
    /* Your desktop styles here */
}
/* 
@media only screen 
  and (min-device-width: 853px) 
  and (max-device-width: 1280px) {
.box_hire_me {
    z-index: 8;
    top: 215rem;
    display: flex;
    align-items: center;
    background-image: url(/src/assets/bg_services.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    flex-direction: column;
    position: absolute;
    padding: 38px;
    width: 91%;
    left: 0px;
    margin: auto;
    height: auto;
}

  } */