@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


.hero_title{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 65px;
    margin-top: 0px;
}

.btn_hello{ 
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px 22px;
    border: 2px black solid;
    border-radius: 18px;
    background: none;
    font-size: 12px;

}

.name_developer{
    color: #5200FF;
}

.lines_1{
    top: 11px;
    left: 43px;
    position: relative;
    width: 1rem;
}
.lines_2{
    
    position: absolute;
    top: 18.5rem;
    transform: rotate(180deg);
    left: 25.5rem;
}
.box_lines{
    
}


/* Mobile */
@media (max-width: 767px) {
    /* Your mobile styles here */
    .jesse_img {
        width: 24rem;
        left: 16rem;
        top: 8rem;
        position: relative;
    }

    
    .circle_box {
        z-index: 1;
        position: absolute;
        background: #5200FF;
        width: 15rem;
        height: 19.9rem;
        top: 2rem;
        left: -8rem;
        border-top-left-radius: 320px;
        border-top-right-radius: 320px;
        transition: 0.5s;
    }
    .hero_title {
        font-family: "Urbanist", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 50px;
        margin-top: 0px;
    }
    .lines_2 {
        position: absolute;
        top: 19.5rem;
        transform: rotate(180deg);
        left: 1.5rem;
        width: 1rem;
    }
    .box_mobile_hero_section{
        position: absolute;
     z-index: 8;
     top: 0rem;
     padding: 38px;
     width: 100%;
     left: 0px;
     margin: auto;
     height: auto; 
     }

    
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Your tablet styles here */
    .jesse_img {
        width: 24rem;
        left: 16rem;
        top: 8rem;
        position: relative;
    
    }
    .circle_box {
        z-index: 1;
        position: absolute;
        background: #5200FF;
        width: 15rem;
        height: 19.9rem;
        top: 2rem;
        left: -8rem;
        border-top-left-radius: 320px;
        border-top-right-radius: 320px;
        transition: 0.5s;
    }
    .hero_title {
        font-family: "Urbanist", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 50px;
        margin-top: 0px;
    }
    .lines_2 {
        position: absolute;
        top: 19.5rem;
        transform: rotate(180deg);
        left: 1.5rem;
        width: 1rem;
    }
    .box_mobile_hero_section{
        
        position: absolute;
        padding: 38px;
        width: 100%;
        left: 0px;
        margin: auto;
        height: auto;
         }
}

/* Desktop */
@media (min-width: 1024px) {
    /* Your desktop styles here */
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) {
.box_mobile_hero_section{

    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 5rem;
    display: flex;
    align-items: center;
    padding: 38px;
    width: 100%;
    left: 0px;
    margin: auto;
    justify-content: center;
}
  }



 

  /* Unfolded mode in portrait */
@media (max-width: 1920px) and (max-height: 2560px) and (orientation: portrait) {
    /* Your styles for ASUS Zenbook Fold unfolded in portrait mode */
    .box_mobile_hero_section {
        position: absolute;
        padding: 38px;
        width: 100%;
        left: 0px;
        margin: auto;
        height: auto;
    }
}

/* Unfolded mode in landscape */
@media (max-width: 2560px) and (max-height: 1920px) and (orientation: landscape) {
    /* Your styles for ASUS Zenbook Fold unfolded in landscape mode */
    .box_mobile_hero_section {
        position: absolute;
        padding: 38px;
        width: 91%;
        left: 0px;
        margin: auto;
        height: auto;
        top: 3rem;
    }
}

/* @media only screen 
  and (min-device-width: 820px) 
  and (max-device-width: 1180px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    Tus estilos CSS aquí */
/* .box_mobile_hero_section {
    position: absolute;
    padding: 38px;
    width: 91%;
    left: 0px;
    margin: auto;
    height: auto;
}
} */

@media (min-width: 1920px) and (max-width: 1920px) and (min-height: 919px) and (max-height: 919px) {
 
.box_mobile_hero_section {
    position: absolute;
    padding: 38px;
    width: 91%;
    left: 0px;
    margin: auto;
    height: auto;
    top: 3rem;
}
}