.card_title{
    color: black;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    border-bottom: 2px solid #00000010;
    padding: 28px;
}

.box_card{
    background: #fafafa10;
    border: 2px solid #00000010;
    border-radius: 213px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 27rem;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    transition: 0.5s;
}
.box_card:hover {
    
    background: #5200FF;
}
.box_card:hover .card_title {
    
    color: white;
}

.box_card:hover .img_card{
    top: 0rem;
}


.glasseffect{
    
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);
}

.img_card{
    width: 24rem;
    position: relative;
    top: 1rem;
    left: -0.8rem;
    
    transition: 0.5s;
}