.box_contact{
    
    position: relative;
    z-index: 15;
    top: 255rem;

}

.contact_title{
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #344054;
    font-size: 64px;
    
}

.contact_title_color{
    color: #5200FF;
}

.form_box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    margin: auto;
    -webkit-backdrop-filter: blur(0.4rem);
    width: 42rem;
    padding: 5px 15px;
    border: 0.5px solid #E4E7EC;
    border-radius: 61px;

}

.btn_form{
    padding: 16px 39px;
    border-radius: 30px;
    border: none;
    background: #5200FF;
    color: white;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;

}

.input_form{
    
    width: 30rem;
    background: none;
    padding: 12px;
    border: none;
    color: black;

}

.input_form::placeholder {
    color: black;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.bottom_box{
    
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;

}

.mini_box_bottom{
    
    display: flex;
    align-items: center;

}

.img_bottom{

}

.bottom_title{
    
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}


/* Mobile */
@media (max-width: 767px) {
    /* Your mobile styles here */
    .box_contact {
        z-index: 15;
        position: absolute;
        top: 389rem;
        padding: 38px;
        width: 100%;
        left: 0px;
        margin: auto;
        height: auto;
    }
    .form_box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background: #fafafa10;
        backdrop-filter: blur(0.4rem);
        margin: auto;
        -webkit-backdrop-filter: blur(0.4rem);
        width: 11rem;
        padding: 5px 15px;
        border: 0.5px solid #E4E7EC;
        border-radius: 61px;
    }
    .btn_form {
        padding: 16px 22px;
        border-radius: 30px;
        border: none;
        background: #5200FF;
        color: white;
        font-family: "Urbanist", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 13px;
    }

    .img_form{
        
    width: 3rem;
    }
    .bottom_title {
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        text-align: left;
    }
    .contact_title {
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #344054;
        font-size: 40px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Your tablet styles here */
    .box_contact{
        z-index: 15;
        top: 418rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding: 38px;
        width: 100%;
        left: 0px;
        margin: auto;
        height: auto;
    }
    .contact_title {
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #344054;
        font-size: 40px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    /* Your desktop styles here */
    .box_contact {
        position: relative;
        z-index: 15;
        top: 282rem;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) {
.box_contact {
    z-index: 15;
    top: 333rem;
    position: absolute;
    padding: 38px;
    width: 100%;
    left: 0px;
    margin: auto;
    height: auto;
}

  }