@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



/* .box_btn {
    position: relative;
    z-index: 5;
    background: #fafafa10;
    top: 14rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15%;
    margin: auto;
    padding: 20px 25px;
} */
.btns{    position: relative;
    z-index: 6;
    top: 14rem;
    width: 24%;
    margin: auto;
    background: #fafafa10;
    border: 2px solid #fafafa10;
    border-radius: 67px;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.glasseffect{
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);

}


.btn{
    background: none;
    border: none;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;


    transition: 0.5s;
 
}

.btn2{
    background: none;
    border: none;
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;


    transition: 0.5s;
 
}

.btn:hover {
    
    background-color: #5200FF;
    padding: 10px 50px;
    border-radius: 20px;

    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    
}

.btn2:hover {
    
    background-color: black;
    padding: 10px 50px;
    border-radius: 20px;

    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}





/* Mobile */
@media (max-width: 767px) {
    /* Your mobile styles here */
    .btns {
        position: relative;
        z-index: 6;
        top: 10rem;
        width: 85%;
        margin: auto;
        background: #fafafa10;
        border: 2px solid #fafafa10;
        border-radius: 67px;
        height: 3rem;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Your tablet styles here */
    .btns {
        position: relative;
        z-index: 6;
        top: 10rem;
        width: 85%;
        margin: auto;
        background: #fafafa10;
        border: 2px solid #fafafa10;
        border-radius: 67px;
        height: 3rem;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1920px) and (max-width: 1920px) and (min-height: 919px) and (max-height: 919px) {
 
    .btns {
        position: relative;
        z-index: 6;
        top: 8rem;
        width: 24%;
        margin: auto;
        background: #fafafa10;
        border: 2px solid #fafafa10;
        border-radius: 67px;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    }

/* Desktop */
@media (min-width: 1024px) {
    /* Your desktop styles here */
}

